{%if decks_count == 0%}
<p class="display-6 w-75" style="text-align: center;">
    We didn't find any decks in your collection. 
    Create your own deck or explore public decks and add them to your collection.
</p>
{% else %}
<div class="w-100 d-flex justify-content-center">
    <hr style="width: 30%; align-self: center; height: 5px;">
    <p class="display-4 sticky-top" style="text-align: center; width: 40%;">Select Any Deck</p>
    <hr style="width: 30%; align-self: center; height: 5px;">
</div>
{% endif %}